
.init-screen-wrapper {
    background: rgb(244, 238, 238);
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    font-family: poppins;
}

.init-screen-background-wrapper {
    position: relative;
    /* height: 100%; */
    flex: 1;
}
.init-screen-wrapper .init-bg-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.init-screen-wrapper .bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* z-index: 1; */
}

.content-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.content {
    /* display: flex; */
    /* align-items: center; */
    margin-top: 10%;
    /* justify-content: space-between; */
    /* margin: 10% 20%; */
    width: 80%;
    margin: 10% auto 0 auto;
}

.content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .logo {
    font-size: 3.5rem;
    color: white;
}

.content .logo-sub {
    font-size: 2.5rem;
    color: white;
}

.content > div {
    flex: 1;
}

.content-wrapper {
    padding: 1rem;
    box-sizing: border-box;
}
.init-details {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.country, .language {
    width: 200px;
    color: white;
}
.language {
    margin-left: 1rem;
}

.action-button {
    margin-top: 1rem;
    border-radius: 1rem;
    border: 1px solid white;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.3s linear;
    width: 250px;
}

.action-button:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width: 1000px) {
    .content {
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .content-top {
        flex-direction: column;
    }
    .init-details {
        margin-top: 2rem;
    }
    .content-bottom {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .init-details {
        margin-top: 2rem;
    }
    .language {
        margin-left: 0;
    }
    .language, .country {
        margin-top: 0.5rem;
    }
    .content-bottom {
        margin-top: 2rem;
    }
}